.auth {
  height: 100vh;
  background-image: linear-gradient(
      to right bottom,
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.8)
    ),
    url(~assets/img/newimage2.jpg) !important;
  background-size: cover !important;
  width: 100% !important;


  &__form {
    display: flex;
    // flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    min-height: 100vh;


    form {
      background-color: $light-grey;
      height: 10rem;
    }
  }

}

// .test {
//   background-color: red;
// }
